<header>
    <a href="/banner" routerLink="banner" class="logo">JG</a>
    <div class="toggle"></div>
    <ul>
        <li><a href="/home" routerLink="home" routerLinkActive="active-link">Inicio</a></li>
        <li><a href="/admin" routerLink="admin" *ngIf="showAdminBoard" routerLinkActive="active-link">Admin Board</a></li>
        <li><a href="/mod" routerLink="mod" *ngIf="showModeratorBoard" routerLinkActive="active-link">Moderator Board</a></li>
        <li><a href="/user" *ngIf="isLoggedIn" routerLink="user" routerLinkActive="active-link">User Board</a></li>
    </ul>
    <ul *ngIf="!isLoggedIn">
        <li><a href="/register" routerLink="register" routerLinkActive="active-link">Registrarse</a></li>
        <li><a href="/login" routerLink="login" routerLinkActive="active-link">Iniciar Sesion</a></li>
    </ul>
    <ul *ngIf="isLoggedIn">
        <li><a href="/profile" routerLink="profile" routerLinkActive="active-link"> {{ username }} </a></li>
        <li><a (click)="logout()" href="/banner" routerLink="banner">LogOut</a></li>
    </ul>
</header>
<div id="app">
    <div>
        <router-outlet class="animate__animated animate__bounce animate__delay-2s"></router-outlet>
    </div>
</div>
<div class="footer">
    Created By <span>Jimmy Gilces Vargas</span>
</div>