<div class="contBx animated fadeIn fast">
    <header>
        <h2>¿Que es Angular?</h2>
    </header>
    <div class="textBx">
        <p>Angular es un marco de diseño de aplicaciones y una plataforma de desarrollo para crear aplicaciones de una sola pagina eficientes y sofisticadas.</p>
        <p>
            El framework Angular ofrece una base para el desarrollo de aplicaciones robustas, escalables y optimizadas, que promueve además las mejores prácticas y un estilo de codificación homogéneo y de gran modularidad.
        </p>
        <p>
            Aunque ofrece principalmente una base para el desarrollo de la parte frontal, la programación Javascript del lado del cliente, también aborda técnicas de desarrollo de la parte del backend, para la implementación del Server Side Rendering. A esta parte
            se le llama Angular Universal.
        </p>
        <p>
            El desarrollo en Angular se hace por medio de TypeScript (aunque también se podría desarrollar con Javascript, todas las guías y recomendaciones se basan en usar TypeScript), un superset del lenguaje Javascript que ofrece muchas herramientas adicionales
            al lenguaje, como el tipado estático o los decoradores.
        </p>
    </div>
    <section class="cards-links">
        <div class="card">
            <div class="content-top">
                <h4>Empezar</h4>
                <p>
                    Configura tu ambiente local para desarrollar con angular CLI.
                </p>
            </div>
            <hr>
            <div class="content-second">
                <a href="https://angular.io/guide/setup-local" target="_blank">Configuracion Local</a>
            </div>
        </div>
        <div class="card">
            <div class="content-top">
                <h4>Aprende y Explora</h4>
                <p>
                    Aprende los fundamentos del diseño y arquitetura de aplicaciones construidas con Angular.
                </p>
            </div>
            <hr>
            <div class="content-second">
                <a href="https://angular.io/guide/architecture" target="_blank">Conceptos Angular</a>
            </div>
        </div>
        <div class="card">
            <div class="content-top">
                <h4>Hecha una mirada</h4>
                <p>
                    Revisa algunas pequeñas aplicaciones creadas con angular.
                </p>
            </div>
            <hr>
            <div class="content-second">
                <a href="https://angular.io/start" target="_blank">Probar ahora</a>
            </div>
        </div>
    </section>
</div>